# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=personal_finance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=changethis

# First user in backend
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Backend
SECRET_KEY=randomstring

PROJECT_NAME="Personal Finance Tracker API"

# Emails
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=admin@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=2525

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com